@mixin mobile-xs{
	@media (max-width: 479px){
		@content;
	}
}
@mixin mobile{
	@media (min-width: 480px){
		@content;
	}
}

@mixin tablet{
	@media (min-width: 768px){
		@content;
	}
}
@mixin desktops{
	@media (min-width: 992px){
		@content;
	}
}
@mixin desktop-xl{
	@media (min-width: 1200px){
		@content;
	}
}