@import 'parctials/media-query';
@import 'parctials/variables';

*{
	margin: 0;
	padding: 0;
}
section{
	background-color: $ash-color;
	padding:120px 0;
	width: 100%;

	.single-item{
		height: 350px;
		text-align: center;
		position: relative;
		overflow: hidden;
		box-shadow: rgba(102, 102, 102, .2) 0px 4px 8px;
		margin-bottom: 20px;

		@include tablet{
			height: 340px;
		}
		@include desktops{
			height: 430px;
		}

		.img {
	            height: 80%;
			    background-image: url(../img/single-item-1.png);
			    /* background-position: center; */
			    background-repeat: no-repeat;
			    background-size: cover;
      		}
      		.price {
				    width: 75px;
				    height: 75px;
				    position: absolute;
				    top: 5%;
				    right: 8%;
				    border-radius: 50%;
				    text-align: center;
				    padding: 20px 0;
				    color: #fff;
				    -webkit-box-shadow: -1px 0px 9px 0px rgba(50, 50, 50, 0.61);
					-moz-box-shadow:    -1px 0px 9px 0px rgba(50, 50, 50, 0.61);
					box-shadow:         -1px 0px 9px 0px rgba(50, 50, 50, 0.61);
					
					&.paste{
						background-color:$paste-color;
					}
					&.red{
						background-color: $red-color;
					}
					&.purple{
						background: $purple-color;
					}

					@include tablet {
						width: 90px;
						height: 90px;
						padding: 29px 0;
					}
					}
			.text{
				height: 20%;
				position: absolute;
				z-index: 1;
				bottom: 0;
				width: 100%;
				text-align: center;
				background-color: #fff;

				h2{
					font-size:20px;
					color:$black-color;
					font-weight: 300;
					@include tablet {
			    	font-size: 22px;
			    	}
				    @include desktops {
				    	font-size: 25px;
				    }
				}
				a{
					color:#363636;
					font-size: 14px;
					font-weight: 700;
				}
				&:before{
					height: 100%;
					width: 110%;
					background: #fff;
					content: "";
					transform: rotate(-9deg);
					top: -32px;
					left: 0;
					position: absolute;
					z-index: -1;
				}
			}
		}

	}





	.notification {
	    background: #50dfa8;
		padding: 10px 6px 0px;
		width: 85%;
		position: fixed;
		top: 0px;
		visibility: hidden;
		opacity: 0;
		transition: .4s;
		left: 50%;
		transform: translateX(-50%);
		z-index: 600;
		display: flex;
		@include mobile-xs {
			width: 90%;
		}
	    @include tablet {
			width: 80%;
			padding: 18px 20px 10px;
	    }
	    &.show{
			visibility: visible;
			opacity: 1;
			top: 20px;
		}
		.notification-title{
				width: 72%;

				@include tablet{
					width: 80%;
				}

			h1 {
			    font-size: 16px;
			    font-weight: 300;
			    color: #fff;
			    @include tablet{
			    	font-size:23px;
			    }
			    @include desktops {
			    	font-size: 26px;
			    }
			i.fa {
			    font-size: 15px;
				padding: 7px;
			    background: #fff;
			    color:#50dfa8;;
			    padding: 9px;
			    border-radius: 50%;
			    margin-right: 5px;
			    float: left;
			    position: relative;
				top: -5px;
			    @include tablet{
			    	font-size: 24px;
			    	padding: 9px;
			    	margin-right: 15px;
			    	float: none;
			    	top: 0;
			    }
			    @include mobile-xs {
				top: 0;
			}
			}

			}

			}
			.check-btn{
				width: 25%;
				
				@include tablet{
					width: 20%;
					padding: 7px 0;
				}

		a{
			font-size: 13px;
			font-weight: 700;
			color: #fff;
			display: inline-block;
			padding: 0px 0 0px;
			@include tablet {
				font-size: 14px;
				padding: 0px;

			}
		}
	}
}




 