* {
  margin: 0;
  padding: 0; }

section {
  background-color: #f1f5f8;
  padding: 120px 0;
  width: 100%; }
  section .single-item {
    height: 350px;
    text-align: center;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: rgba(102, 102, 102, 0.2) 0px 4px 8px;
    box-shadow: rgba(102, 102, 102, 0.2) 0px 4px 8px;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      section .single-item {
        height: 340px; } }
    @media (min-width: 992px) {
      section .single-item {
        height: 430px; } }
    section .single-item .img {
      height: 80%;
      background-image: url(../img/single-item-1.png);
      /* background-position: center; */
      background-repeat: no-repeat;
      background-size: cover; }
    section .single-item .price {
      width: 75px;
      height: 75px;
      position: absolute;
      top: 5%;
      right: 8%;
      border-radius: 50%;
      text-align: center;
      padding: 20px 0;
      color: #fff;
      -webkit-box-shadow: -1px 0px 9px 0px rgba(50, 50, 50, 0.61);
      -moz-box-shadow: -1px 0px 9px 0px rgba(50, 50, 50, 0.61);
      box-shadow: -1px 0px 9px 0px rgba(50, 50, 50, 0.61); }
      section .single-item .price.paste {
        background-color: #50dfa8; }
      section .single-item .price.red {
        background-color: #f06767; }
      section .single-item .price.purple {
        background: #a98ef6; }
      @media (min-width: 768px) {
        section .single-item .price {
          width: 90px;
          height: 90px;
          padding: 29px 0; } }
    section .single-item .text {
      height: 20%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 100%;
      text-align: center;
      background-color: #fff; }
      section .single-item .text h2 {
        font-size: 20px;
        color: #3a3a3a;
        font-weight: 300; }
        @media (min-width: 768px) {
          section .single-item .text h2 {
            font-size: 22px; } }
        @media (min-width: 992px) {
          section .single-item .text h2 {
            font-size: 25px; } }
      section .single-item .text a {
        color: #363636;
        font-size: 14px;
        font-weight: 700; }
      section .single-item .text:before {
        height: 100%;
        width: 110%;
        background: #fff;
        content: "";
        -webkit-transform: rotate(-9deg);
        -ms-transform: rotate(-9deg);
        transform: rotate(-9deg);
        top: -32px;
        left: 0;
        position: absolute;
        z-index: -1; }

.notification {
  background: #50dfa8;
  padding: 10px 6px 0px;
  width: 85%;
  position: fixed;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 479px) {
    .notification {
      width: 90%; } }
  @media (min-width: 768px) {
    .notification {
      width: 80%;
      padding: 18px 20px 10px; } }
  .notification.show {
    visibility: visible;
    opacity: 1;
    top: 20px; }
  .notification .notification-title {
    width: 72%; }
    @media (min-width: 768px) {
      .notification .notification-title {
        width: 80%; } }
    .notification .notification-title h1 {
      font-size: 16px;
      font-weight: 300;
      color: #fff; }
      @media (min-width: 768px) {
        .notification .notification-title h1 {
          font-size: 23px; } }
      @media (min-width: 992px) {
        .notification .notification-title h1 {
          font-size: 26px; } }
      .notification .notification-title h1 i.fa {
        font-size: 15px;
        padding: 7px;
        background: #fff;
        color: #50dfa8;
        padding: 9px;
        border-radius: 50%;
        margin-right: 5px;
        float: left;
        position: relative;
        top: -5px; }
        @media (min-width: 768px) {
          .notification .notification-title h1 i.fa {
            font-size: 24px;
            padding: 9px;
            margin-right: 15px;
            float: none;
            top: 0; } }
        @media (max-width: 479px) {
          .notification .notification-title h1 i.fa {
            top: 0; } }
  .notification .check-btn {
    width: 25%; }
    @media (min-width: 768px) {
      .notification .check-btn {
        width: 20%;
        padding: 7px 0; } }
    .notification .check-btn a {
      font-size: 13px;
      font-weight: 700;
      color: #fff;
      display: inline-block;
      padding: 0px 0 0px; }
      @media (min-width: 768px) {
        .notification .check-btn a {
          font-size: 14px;
          padding: 0px; } }

/*# sourceMappingURL=style.css.map */